onboarding = false
terminal.default_shell = "nu"
keys.prefix = "{% if exec(command='hostname') | trim == 'fedora-bootc' %}ctrl+a{% else %}ctrl+s{% endif %}"
ui.prompt_new_tab_name = false
ui.pane_gaps = false
ui.sidebar_start_collapsed = true
ui.sidebar_collapsed_mode = "hidden"
ui.hide_tab_bar_when_single_tab = true
theme.name = "tokyo-night"
theme.auto_switch = false
