# Options
command = /usr/bin/fish
font-size = 16
theme = tokyonight_night
shell-integration = fish
gtk-titlebar-hide-when-maximized = true
split-divider-color = 7AA2f7
background-blur = true
background-opacity = 0.95


# Keybinds
keybind = cmd+x=close_surface
keybind = cmd+r=reload_config
keybind = cmd+t=new_tab
keybind = cmd+p=previous_tab
keybind = cmd+n=next_tab
keybind = cmd+q=quit
keybind = cmd+z=toggle_split_zoom
keybind = cmd+f=toggle_fullscreen
keybind = cmd+m=toggle_maximize
keybind = cmd+s=new_split:down
keybind = cmd+v=new_split:right
keybind = cmd+h=goto_split:left
keybind = cmd+j=goto_split:down
keybind = cmd+k=goto_split:up
keybind = cmd+l=goto_split:right
keybind = cmd+shift+h=resize_split:left,50
keybind = cmd+shift+j=resize_split:down,50
keybind = cmd+shift+k=resize_split:up,50
keybind = cmd+shift+l=resize_split:right,50
keybind = cmd+space=equalize_splits
keybind = cmd+e=text:nvim\r
